body {
    font-family: Arial;
    padding: 20px;
    background: #fafafa;
}

.num-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
.num-table td {
    border: 1px solid #333;
    padding: 15px;
    text-align: center;
    font-size: 18px;
}
.num {
    font-size: 28px;
    font-weight: bold;
    color: #d00;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* ADMIN */
.admin-box {
    width: 350px;
    margin: auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
}

.admin-box input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}
